<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/products" method="POST">
      <p>
        Category:
        <select name="category">
          <% for(var i = 0; i< categories.length; i++) {%>
            <option><%= categories[i] %></option>
          <% } %>
        </select>
      </p>
      <p>
        Name:
        <input type="text" name="name" value=""/>
      </p>
      <p>
        Price:
        <input type="number" name="price" value="0"/>
      </p>
      <p>
        <input type="submit" value="Save"/>
      </p>
    </form>
  </body>
</html>