body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table thead tr{
  background-color: #ccc;
}

table tbody tr:hover{
  cursor: pointer;
  background-color: #DDD;
}

table tfoot tr{
  background-color: #ccc;
}