<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <form action="/users/forgot" method="POST">
        E-mail:<input name="email" type="text"><br />
        <input type="submit" value="Send">
    </form>
    <!-- Error message -->
    <% if(message){ %> 
        <p>
            <label style="color:red"><%= message %></label>
        </p>
    <% } %> 
    <p>
        Caso não possua cadastro <a href="/users/signup">clique aqui.</a>
    </p>
</body>
</html>