<!-- Top -->
<%- include("./partials/top.ejs") %>
    <!-- body content -->
    <form action="/login" method="POST">
        Username:<input name="username" type="text"><br />
        Password:<input name="password" type="password"><br />
        <input type="submit" value="Login">
    </form>
    <!-- Error message -->
    <% if(message){ %> 
        <p>
            <label style="color:red"><%= message %></label>
        </p>
    <% } %> 
    <p>
        <a href="/users/forgot">Esqueceu a sua senha?</a> | <a href="/users/signup">Não possui cadastro?</a>
    </p>
    <!-- botton -->
<%- include("./partials/bottom.ejs") %>