<!-- Top -->
<%- include("./partials/top.ejs") %>
    <!-- body content -->
    <div class="col-sm-6">
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" name="username" type="text" placeholder="Digite seu username..." class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" placeholder="Digite sua senha..." class="form-control">
            </div>
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
        <!-- Error message -->
        <% if(message){ %> 
            <p>
                <label style="color:red"><%= message %></label>
            </p>
        <% } %> 
        <p>
            <a href="/users/forgot">Esqueceu a sua senha?</a> | <a href="/users/signup">Não possui cadastro?</a>
        </p>
    </div>
    <!-- botton -->
<%- include("./partials/bottom.ejs") %>