<!-- Top -->
<%- include("./partials/top.ejs") %>
    <!-- body content -->
    <form action="/users/signup" method="POST">
        Username:<input name="username" type="text"><br />
        Password:<input name="password" type="password"><br />
        E-mail:<input name="email" type="text"><br />
        Profile:<select name="profile">
                    <option value="0">User</option>
                    <option value="1">Admin</option>
                </select>
        <input type="submit" value="Save">
    </form>
    <!-- Error message -->
    <% if(message){ %> 
        <p>
            <label style="color:red"><%= message %></label>
        </p>
    <% } %> 
    <!-- botton -->
<%- include("./partials/bottom.ejs") %>